.contact-form-section {
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
}

.contact-form-container {
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      padding: 1rem;
      margin-bottom: 1.5rem;
      border: 2px solid #333;
      border-radius: 8px;
      outline: none;
      font-size: 1rem;

      &::placeholder {
        color: #aaa;
        font-size: 1rem;
      }

      &:focus {
        border-color: #ff0008;
        box-shadow: 0 0 8px rgba(255, 0, 8, 0.3);
      }
    }

    .submit-btn {
      padding: 0.8rem 5rem;
      background-color: #000;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      align-self: center;

      &:hover {
        background-color: #333;
      }
    }
  }
}
