.footer {
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center;
  padding: 6rem 2rem;
  text-align: center;
  position: relative;

  .footer-logo {
    position: absolute;
    bottom: 80px; /* Aligns closer to social media icons */
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 100px;
      height: auto;
    }
  }

  .footer-icons {
    position: absolute;
    bottom: 30px; /* Keeps the icons near the bottom */
    left: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

    a img {
      width: 40px;
      height: auto;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .footer-credits {
    position: absolute;
    bottom: 5px; /* Aligns closer to the logo */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    font-family: "adobe-garamond-pro", serif;
  }

  .footer-ingen {
    position: absolute;
    bottom: 30px; /* Matches the social media icons */
    right: 70px;

    img {
      width: 150px;
      height: auto;
    }
  }
}
