.map-page {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px); /* Adjust for header and footer height */
  overflow: hidden;

  .map-image {
    width: 80%; /* Make the map fill the available width */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensures the image looks good even if cropped */
  }
}
